NODE_ENV=development

# application
APP_NAME=
PORT=8000

# database
DATABASE_URL=postgresql://prisma:prisma@localhost:5433/git_spect

# logger
LOG=console,file

# elasticsearch
ELASTICSEARCH_URL=

# super admin credentials
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# jwt token secrets
JWT_SECRET=

JWT_ACCESS_TOKEN_EXPIRE=
JWT_REFRESH_TOKEN_EXPIRE=

# github oauth
GITHUB_APP_REDIRECT_URI=http://localhost:8000/api/v1/oauth/github/callback
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_SECRET=
GITHUB_PRIVATE_KEY=""

